<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
</head>
<body>

<h1>
    Quickstart your channel invitation management system
</h1>

<div th:if="${isLogin}">
    <h2 th:text="'Hello ' + ${username}"></h2>

    <a th:href="@{/channels}">
        Create channel
    </a>

    <div th:if="${channels.empty}">
        There is no channels.
    </div>

    <div th:if="${!channels.empty}">
        <table class="tb_col">
            <tr>
                <th>MaxPeople</th>
                <th>NumberOfPeople</th>
                <th>IsHost</th>
            </tr>
            <tr th:each="channel : ${channels}">
                <td th:text="${channel.maxPeople}"></td>
                <td th:text="${channel.numberOfPeople}"></td>
                <td th:text="${channel.isHost}"></td>
                <td>
                    <a th:href="@{/channels/} + ${channel.channelId}">
                        show more
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:if="!${isLogin}">
    <form th:action="@{/login}" th:object="${request}" method="post">
        <span>Username</span>
        <input type="text" th:field="*{username}"/> <br/>
        <button type="submit">Login</button>
    </form>
    <a th:href="@{/signup}">
        Sign up
    </a>
</div>

</body>
</html>
